body {
  background: linear-gradient(180deg, var(--blue-gradient) 35%, var(--pink-gradient) 100%);
  color: #fff;
}

fieldset {
  border: none;
}

a[class] {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.rating {
  margin-top: 50px;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  min-height: 60px;
  color: #000;
}

.button a {
  padding: 4px 16px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  transition: all 0.1s ease-in !important;
  cursor: pointer;
}

.button a:hover {
  background-color: #000;
  color: #fff;
}

.box-user {
  min-width: 350px;
  min-height: 120px;
  background: var(--purple-color);
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: space-around;
}

.hero span {
  text-transform: uppercase;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.filter-box {
  min-width: 500px;
  min-height: 400px;
  background-color: var(--purple-color);
  border-radius: 15px;
  position: sticky;
  top: 20px;
}

.image img {
  min-width: 30px;
  min-height: 30px;
  background-color: var(--blackPurple-color);
  padding: 6px;
  border-radius: 10px;
}

.filter-box input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

input:checked {
  border: 6px solid black;
}

.filter-list fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-list {
  display: flex;
  max-width: 210px;
  font-size: 24px;
  background-color: var(--blackPurple-color);
  border-top-left-radius: 15px;
}

.radiobutton {
  margin: 0px 10px 5px 0px;
}

.info {
  background-color: var(--blackPurple-color);
  border-radius: 8px;
  padding: 4px 4px;
}