body {
	background-color: #000;
	font-size: 250px;
	color: #fff;
}

#js_timer {
	text-align: center;
	background-color: #009999;
	font-size: 250px;
	color: #fff;
}

#timer {
	margin: 0 auto;
}

#pause-button {
	width: 100px;
	height: 55px;
	font-size: 30px;
}

#scramble-panel {
	background-color: #009999;
	color: #DFDCE1;
	height: 100px;
	width: 75;
	text-align: center;
}

#ao5 {
	background-color: #009999;
	color: #D4AAE9;
	height: 238px;
	width: 75;
	text-align: center;
	font-size: 55px;
}

.ready {
	color: #33FF33;
}