body {
  background: linear-gradient(180deg, var(--blue-gradient) 35%, var(--purple-gradient) 100%);
  color: #fff;
}

a[class] {
  text-decoration: none;
  color: #000;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  min-height: 60px;
}

.line {
  min-width: 220px;
  height: 1px;
  background-color: #000;
} 

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav button {
  padding: 4px 16px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: transparent;
  color: #000;
  transition: all 0.1s ease-in !important;
  cursor: pointer;
}

.right-nav input {
  background: transparent;
  border: none;
  outline: none;
  color: #000;
}

.right-nav img {
  width: 53px;
  height: 40px;
}

.right-nav input::placeholder {
  color: #000;
  transition: all 0.1s ease-in;
  font-size: 16px;
}

.right-nav input:focus::placeholder {
  color: transparent;
}

.right-nav button:hover {
  background-color: #000;
  color: #fff;
}

.link-button:not(:last-child) {
  margin-right: 20px;
}

.main-timer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 240px);
}

.timer-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avg-of {
  font-size: 40px;
}

.timer {
  font-size: 200px;
}

.timer.ready {
  font-size: 230px;
  color: #359F51;
}

.input-box {
  margin-right: 25px;
}

.scramble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ababab;
  text-align: center;
}

.scramble.mini {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #ababab;
  text-align: center;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.dropdown img {
  width: 24px;
  height: 24px;
  transition: all 220ms ease-in-out !important;
}

.dropdown-menu {
  min-width: 70px;
  position: absolute;
  left: 0;
  top: calc(100% + .1px);
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: opacity 220ms ease-in-out !important;
}

.dropdown-menu a:not(:last-child) {
  margin-bottom: 8px;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav img {
  width: 25px;
  height: 25px;
}

.dropdown:hover > .dropdown-menu {
  pointer-events: auto;
  opacity: 1;
}

.dropdown:hover > img{
  transform: rotate(180deg);
}

.link-button .settings {
  transition: all 220ms ease-in-out !important;
}

.link-button .settings:hover {
  transform: rotate(90deg);
}