<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/forgotpass.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="icon" href="/img/cube-logo.png">
  <title>Forgot password</title>
</head>
<body>
  <section class="main">
    <div class="container">
      <form action="/login" method="post">
        <div class="login-block">
          <div class="logo">
              <h1>FORGOT PASSWORD?</h1>
            </div>
          <div class="input-form">
              <span>Security code will be send to this email</span>
              <div class="input-box">
                <input type="email" name="email" class="input-field" placeholder="Enter your email" th:value="${email}">
                <div class="line"></div>
                <span th:text="${emailNotExist}"></span>
              </div>
            <span th:text="${loginError}"></span>
            </div>
          <div class="buttons">
              <a href="timer/3x3" class="button-back">Back</a>
              <button type="submit">Send</button>
            </div>
            <div class="link-buttons">
              
            </div>
        </form>
        </div>
    </div>
  </section>
</body>
</html>