<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="icon" href="/img/cube-logo.png">
  <title>Profile</title>
</head>
<body>
  <header class="header">
    <div class="nav">
        <div class="button-back">
          <a href="/timer/3x3" class="link-back">Back</a>
        </div>
        <div class="image"><img src="/img/cube-logo.png" alt=""></div>
    </div>
  </header>
  <section class="main">
    <span th:if="${solveNotExist}" class="message">You don't have a solves</span>
    <div class="left">
      <div th:each="solve : ${solves}" class="block-info">
        <div class="time">
          <span th:text="${solve.getPenalty().equals('None') ? solve.getTime() :
          solve.getPenalty().equals('DNF') ? solve.getPenalty() : solve.getPenalty() + '+'}"></span>
        </div>
        <div class="scramble">
          <input type="text" readonly th:value="${solve.getScramble()}">
          <div class="link">
            <a th:href="@{/timer/plus2(solveId = ${solve.getSolveId()}, page = ${page})}" class="link-button">+2</a>
            <a th:href="@{/timer/DNF(solveId = ${solve.getSolveId()}, page = ${page})}" class="link-button">DNF</a>
          </div>
        <button th:name="${solve.getSolveId() + '/' + page + '/' + cube}" class="link-button first"><img src="/img/trash.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="block-filter">
        <div class="filter-box">
          <form method="post" action="/profile">
            <div class="filter-list">
              <fieldset>
                <div class="radiobutton">
                  <input type="radio" id="2x2" onclick="redirectTo('2x2')" value="2x2" name="sizeCube">
                  <label for="2x2">2x2</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="3x3" onclick="redirectTo('3x3')" value="3x3" name="sizeCube">
                  <label for="3x3">3x3</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="4x4" onclick="redirectTo('4x4')" value="4x4" name="sizeCube">
                  <label for="4x4">4x4</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="5x5" onclick="redirectTo('5x5')" value="5x5" name="sizeCube">
                  <label for="5x5">5x5</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="6x6" onclick="redirectTo('6x6')" value="6x6" name="sizeCube">
                  <label for="6x6">6x6</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="7x7" onclick="redirectTo('7x7')" value="7x7" name="sizeCube">
                  <label for="7x7">7x7</label>
                </div>
                <div class="radiobutton">
                  <input type="radio" id="pyraminx" onclick="redirectTo('pyraminx')" value="Pyraminx" name="sizeCube">
                  <label for="Pyraminx">Pyraminx</label>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="username">
          <form action="/profile" method="post">
            <input type="text" name="newUsername" th:value="${username}">
            <div class="button">
            <a href="/profile/change-password" class="button-link">Change password</a>
            <button type="submit">Save</button>
            </div>
          </form>
          <div class="score">
            <div class="score-box">
              <span class="statistic">PB:</span>
              <span class="score-record" th:text="${personalBest}"></span>
            </div>
            <div class="score-box">
              <span class="statistic">Solves:</span>
              <span class="score-record" th:text="${solveCount}"></span>
            </div>
            <div class="score-box">
              <span class="statistic">AVG:</span>
              <span class="score-record" th:text="${average}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="page">
    <!--Pagination-->
    <div class="link-page" th:if="${totalPages > 2}">
      <a th:href="@{/profile(cube=${cube}, page=${page} - 1)}" class="page__link"><</a>
      <a th:href="@{/profile(cube=${cube}, page=${totalPages - 1 != page ? page : 0})}" class="page__link" th:text="${totalPages - 1 != page ? page + 1 : 1}"></a>
      <a th:if="${page + 1 == totalPages}" class="page__link">...</a>
      <a th:if="${page + 1 != totalPages && page + 2 != totalPages}" th:href="@{/profile(cube=${cube}, page=${page} + 1)}" class="page__link" th:text="${page + 2}"></a>
      <a th:if="${page + 1 != totalPages}" class="page__link">...</a>
      <a th:if="${page + 1 == totalPages}" class="page__link" th:href="@{/profile(cube=${cube}, page=${totalPages - 2})}" th:text="${totalPages - 1}"></a>
      <a th:href="@{/profile(cube=${cube}, page=${totalPages - 1})}" class="page__link" th:text="${totalPages}"></a>
      <a th:href="@{/profile(cube=${cube}, page=${page} + 1)}" class="page__link">></a>
    </div>
  </footer>
  <script>
    function redirectTo(cube) {
      document.location.href = '/profile?cube=' + cube + '&page=0';
    }

    let pattern = /=.+&/gi,
    str = document.location.href.match(pattern).at(0),
    cube = str.substring(1, str.length - 1)
    document.getElementById(cube).checked = true

    const buttons = document.querySelectorAll('.link-button.first')

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        if(confirm('Are you sure you want to delete the solve?')) 
          window.location.href = "http://localhost:8080/timer/delete/" + button.getAttribute('name');
      
      })
    })
  </script>
</body>
</html>