<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/rating.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/img/cube-logo.png">
  <title>Rating</title>
</head>
<body>
  <header class="header">
    <div class="navbar">
        <div class="button">
          <a href="/timer/3x3" class="link-button">Timer</a>
        </div>
        <div class="user-nickname">
          <a href="/profile" class="nickname" th:text="${username}"></a>
        </div>
    </div>
  </header>
  <section class="rating">
    <div class="container">
      <div class="hero">
        <span th:if="${users.isEmpty()}">Oops, there don't seem to be any suitable candidates,<br> but you can be the first ;)</span>
        <div class="user-info">
          <div th:each="user : ${users}" class="box-user">
            <div class="image">
              <img src="/img/person.svg" alt="Image">
            </div>
            <div class="rating-info">
              <div class="info">
                <table>
                  <tr class="info-label">
                    <th>USERNAME</th>
                    <th>PB</th>
                    <th>AVG</th>
                  </tr>
                  <tr>
                    <td th:text="${user[0]}"></td>
                    <td th:text="${user[1]}"></td>
                    <td th:text="${user[2]}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="filter-box">
            <form method="post">
              <div class="filter-list">
                <fieldset>
                  <div class="radiobutton">
                    <input type="radio" id="2x2" onclick="redirectTo('2x2')" value="2x2" name="sizeCube">
                    <label for="2x2">2x2</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="3x3" onclick="redirectTo('3x3')" value="3x3" name="sizeCube">
                    <label for="3x3">3x3</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="4x4" onclick="redirectTo('4x4')" value="4x4" name="sizeCube">
                    <label for="4x4">4x4</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="5x5" onclick="redirectTo('5x5')" value="5x5" name="sizeCube">
                    <label for="5x5">5x5</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="6x6" onclick="redirectTo('6x6')" value="6x6" name="sizeCube">
                    <label for="6x6">6x6</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="7x7" onclick="redirectTo('7x7')" value="7x7" name="sizeCube">
                    <label for="7x7">7x7</label>
                  </div>
                  <div class="radiobutton">
                    <input type="radio" id="pyraminx" onclick="redirectTo('pyraminx')" value="Pyraminx" name="sizeCube">
                    <label for="Pyraminx">Pyraminx</label>
                  </div>
                </fieldset>
              </div>
            </form>
            <div class="logo">
              <img src="/img/cube-logo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function redirectTo(cube) {
      document.location.href = '/rating/' + cube;
    }

    cube = document.location.href.split('/').at(-1);
    document.getElementById(cube).checked = true;

  </script>
</body>
</html>