<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/rating.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/font.css">
  <title>Rating</title>
</head>
<body>
  <header class="header">
    <div class="navbar">
        <div class="button">
          <a href="" class="link-button">Back</a>
        </div>
        <div class="user-nickname">
          <span>Nickname</span>
        </div>
    </div>
  </header>
  <section class="rating">
    <div class="container">
      <div class="hero">
        <div class="user-info">
          <div th:each="user : ${users}" class="box-user">
            <div class="image">
              <img src="/img/person.svg" alt="Image">
            </div>
            <div class="rating-info">
              <div class="info">
                <table>
                  <tr class="info-label">
                    <th>NICKNAME</th>
                    <th>PB</th>
                    <th>AVG</th>
                    <th>AO12</th>
                  </tr>
                  <tr>
                    <td th:text="${user[0]}"></td>
                    <td th:text="${user[2]}"></td>
                    <td th:text="${user[1]}"></td>
                    <td>40s</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="filter-box">
            <form method="post">
              <fieldset>
                <input type="radio" value="2x2" name="sizeCube" checked> <label for="2x2">2x2</label>
                <input type="radio" value="3x3" name="sizeCube" checked> <label for="3x3">3x3</label>
                <input type="radio" value="4x4" name="sizeCube" checked> <label for="4x4">4x4</label>
                <input type="radio" value="5x5" name="sizeCube">
                <label for="5x5">5x5</label>
                <input type="radio" value="6x6" name="sizeCube">
                <label for="6x6">6x6</label>
                <input type="radio" value="7x7" name="sizeCube" checked> <label for="7x7">7x7</label>
                <input type="radio" value="Pyraminx" name="sizeCube" checked> <label for="Pyraminx">Pyraminx</label>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>