<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/registration.css">
  <link rel="stylesheet" href="/css/font.css">
  <title>Registration</title>
</head>
<body>
  <section class="main">
    <div class="container">
      <form action="/registration" method="post">
        <div class="login-block">
          <div class="logo">
              <h1>REGISTRATION</h1>
            </div>
          <div class="input-form">
              <div class="input-box">
                <input type="text" name="username" class="input-field" placeholder="Username">
                <div class="line"></div>
              </div>
              <div class="input-box">
                <input type="email" name="email" class="input-field" placeholder="Email">
                <div class="line"></div>
              </div>
              <div class="input-box">
                <input type="password" name="password" class="input-field" placeholder="Password">
                <div class="line"></div>
              </div>
              <div class="input-box">
                <input type="password" name="confirmPassword" class="input-field" placeholder="Confirm password">
                <div class="line"></div>
              </div>
            </div>
            <div class="buttons">
              <a href="/timer/3x3" class="button-back">Back</a>
              <button type="submit">Registration</button>
            </div>
            <div class="link-buttons">
              <a href="#" class="link-button">Forgot password?</a>
              <a href="/login" class="link-button">Already have an account?</a>
            </div>
        </div>
      </form>
    </div>
  </section>
</body>
</html>