<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/timer.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <title>Timer</title>
</head>
<body>
  <header class="header">
    <nav class="left-nav">
      <a href="#" class="link-button"></a>
      <a href="#" class="link-button">Statistics</a>
      <a href="#" class="link-button">Settings</a>
      <div class="dropdown">
        <a class="link">Cube</a>
        <img src="../static/img/triangle.svg" alt="">
        <div class="dropdown-menu">
          <a class="link__item-active" href="">2x2</a>
          <a class="link__item" href="">3x3</a>
          <a class="link__item" href="">4x4</a>
          <a class="link__item" href="">5x5</a>
          <a class="link__item" href="">6x6</a>
          <a class="link__item" href="">7x7</a>
        </div>
      </div>
    </nav>
    <form method="post">
      <div class="right-nav">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Search friends">
          <div class="line"></div>
        </div>
        <button type="submit">Search</button>
      </div>
  </form>
  </header>
  <div class="scramble"></div>
  <section class="main-timer">
    <div class="timer-block">
      <div id="timer" class="timer">
        00:00
      </div>
      <div class="avg-of">
        <span>AVG OF 5: </span>
      </div>
      <div class="avg-of12">
        <span class="avg-of">AVG OF 12: </span>
      </div>
    </div>
  </section>

  <script src="../static/js/script.js"></script>
</body>
</html>