<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Timer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ViLsonCake</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cube
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">2x2</a></li>
                <li><a class="dropdown-item" href="#">3x3</a></li>
                <li><a class="dropdown-item" href="#">4x4</a></li>
                <li><a class="dropdown-item" href="#">5x5</a></li>
                <li><a class="dropdown-item" href="#">6x6</a></li>
                <li><a class="dropdown-item" href="#">7x7</a></li>
                <li><a class="dropdown-item" href="#">Pyraminx</a></li>
                <li><a class="dropdown-item" href="#">Megaminx</a></li>
                <li><a class="dropdown-item" href="#">Square-1</a></li>
                <li><a class="dropdown-item" href="#">Clock</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else</a></li>
              </ul>
            </li>   
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search friends" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div id="scramble-panel">
        <h1 id="scramble" th:text="${scramble}"></h1>
    </div>
    <div id="js_timer">
        <div id="timer">
            00:00
        </div>
    </div>
    <div id="ao5">
        ao5: 10:38  
        <br>ao12: 11:21
    </div>

    <script src="/js/script.js"></script>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/timer.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <title>Timer</title>
</head>
<body>
  <header class="header">
    <nav class="left-nav">
      <a href="#" class="link-button"></a>
      <a href="#" class="link-button">Statistics</a>
      <a href="#" class="link-button">Settings</a>
      <div class="dropdown">
        <a class="link">Cube</a>
        <img src="../static/img/triangle.svg" alt="">
        <div class="dropdown-menu">
          <a class="link__item-active" href="">2x2</a>
          <a class="link__item" href="">3x3</a>
          <a class="link__item" href="">4x4</a>
          <a class="link__item" href="">5x5</a>
          <a class="link__item" href="">6x6</a>
          <a class="link__item" href="">7x7</a>
        </div>
      </div>
    </nav>
    <form method="post">
      <div class="right-nav">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Search friends">
          <div class="line"></div>
        </div>
        <button type="submit">Search</button>
      </div>
  </form>
  </header>
  <div class="scramble"></div>
  <section class="main-timer">
    <div class="timer-block">
      <div id="timer" class="timer">
        00:00
      </div>
      <div class="avg-of">
        <span>AVG OF 5: </span>
      </div>
      <div class="avg-of12">
        <span class="avg-of">AVG OF 12: </span>
      </div>
    </div>
  </section>

  <script src="../static/js/script.js"></script>
</body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/timer.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/font.css">
  <title>Timer</title>
</head>
<body>
  <header class="header">
    <nav class="left-nav">
      <a href="#" class="link-button" id="username" th:text="${username}"></a>
      <a href="#" class="link-button">Statistics</a>
      <a href="#" class="link-button">Settings</a>
    </nav>
    <form method="post">
      <div class="right-nav">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Search friends">
          <div class="line"></div>
        </div>
        <button type="submit">Search</button>
      </div>
  </form>
  </header>
  <div id="scramble" class="scramble" th:text="${scramble}"></div>
  <section class="main-timer">
    <div class="timer-block">
      <div id="timer" class="timer">
        00:00
      </div>
      <div class="avg-of">
        <span>AVG OF 5: </span>
      </div>
      <div class="avg-of12">
        <span class="avg-of">AVG OF 12: </span>
      </div>
    </div>
  </section>

  <script src="/js/script.js"></script>
</body>
</html>