<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/timer.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <title>Timer</title>
</head>
<body>
  <header class="header">
    <nav class="left-nav">
      <a href="#" class="link-button">Statistics</a>
      <a href="#" class="link-button">Settings</a>
    </nav>
    <form method="post">
      <div class="right-nav">
        <div class="input-box">
          <input type="text" class="input-field" placeholder="Search friends">
          <div class="line"></div>
        </div>
        <button type="submit">Search</button>
      </div>
  </form>
  </header>
  <section class="main-timer">
    <div class="timer-block">
      <div class="timer">
        <span class="avg-of">00:00</span>
      </div>
      <div class="avg-of">
        <span>AVG OF 5: </span>
      </div>
      <div class="avg-of12">
        <span class="avg-of">AVG OF 12: </span>
      </div>
    </div>
  </section>
</body>
</html>